<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steam-api</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <h2>Hello! Please input the steamID or custom steamID</h2>
      <form method="post" action="/result">
        <input type="text" name="steam_id"><br><br>
        <input type="submit" value="Submit">
      </form>
       
    </div>
    <br><br>
     <img src="https://github.com/Jeffreyg2240/steam-api/blob/master/views/steamID.jpg?raw=true">
     <hr width = "10">
     <img src="https://github.com/Jeffreyg2240/steam-api/blob/master/views/CustomSteamID.jpg?raw=true">
  </body>
</html>
